# Business Understanding

## Describe the purpose of the data set you selected:

&emsp; This data is the collection of two datasets, one which is from a resort hotel and the other which is from a city hotel. The datasets have 40,060 observations and 79,330 obeservations respectively with both sharing 31 variables. The observations time range from July 1st 2015 until August 31st 2017. The data was orginally collected from "Hotel Booking Demand Datasets", written by Nuno Antonio, Ana Almeida, and Luis Nune for Data in Brief, Volume 22, February 2019. The data was consolidated from bookings, change logs, meal, transaction, and customer profiles.
<br>    
![title](dataset_origin_image.jpg)
<br>
   
&emsp; The primary purpose for the selection of this dataset is to research revenue management,such as the forecast of demand and prediction of problems such the likelihood of a hotel booking to be cancelled. Additionally this data could be used to generate models to see when is the ideal time to book a hotel room, or which days and for how long could you get the best rates.

# Data Understanding

## Describe the meaning and type of data:
&emsp; The full description of the data can be found in https://www.sciencedirect.com/science/article/pii/S2352340918315191:


| Variable | Type | Description | Source/Engineering |
| --- | --- | --- | --- |
| ADR | Numeric | Average Daily Rate as defined by | BO, BL and TR / Calculated by dividing the sum of all lodging transactions by the total number of staying nights |
| Adults | Integer | Number of adults | BO and BL |
| Agent | Categorical | ID of the travel agency that made the bookinga | BO and BL |
| ArrivalDateDayOfMonth | Integer | Day of the month of the arrival date | BO and BL |
| ArrivalDateMonth | Categorical | Month of arrival date with 12 categories: “January” to “December”| BO and BL |
| ArrivalDateWeekNumber	| Integer | Week number of the arrival date | BO and BL |
| ArrivalDateYear | Integer | Year of arrival date | BO and BL |
| AssignedRoomType | Categorical | Code for the type of room assigned to the booking. Sometimes the assigned room type differs from the reserved room type due to hotel operation reasons (e.g. overbooking) or by customer request. Code is presented instead of designation for anonymity reasons | BO and BL |
| Babies | Integer | Number of babies | BO and BL |
| BookingChanges | Integer | Number of changes/amendments made to the booking from the moment the booking was entered on the PMS until the moment of check-in or cancellation | BO and BL/Calculated by adding the number of unique iterations that change some of the booking attributes, namely: persons, arrival date, nights, reserved room type or meal |
| Children | Integer | Number of children | BO and BL/Sum of both payable and non-payable children |
| Company | Categorical | ID of the company/entity that made the booking or responsible for paying the booking. ID is presented instead of designation for anonymity reasons	BO and BL. |
| Country | Categorical | Country of origin. Categories are represented in the ISO 3155–3:2013 format [6] | BO, BL and NT |
| CustomerType | Categorical | Type of booking, assuming one of four categories: <br> Contract - when the booking has an allotment or other type of contract associated to it; <br> Group – when the booking is associated to a group; <br> Transient – when the booking is not part of a group or contract, and is not associated to other transient booking; <br> Transient-party – when the booking is transient, but is associated to at least other transient booking <br> | BO and BL |
| DaysInWaitingList | Integer | Number of days the booking was in the waiting list before it was confirmed to the customer | BO/Calculated by subtracting the date the booking was confirmed to the customer from the date the booking entered on the PMS |
| DepositType | Categorical | Indication on if the customer made a deposit to guarantee the booking. This variable can assume three categories: <br> No Deposit – no deposit was made; <br> Non Refund – a deposit was made in the value of the total stay cost; <br> Refundable – a deposit was made with a value under the total cost of stay. | BO and TR/Value calculated based on the payments identified for the booking in the transaction (TR) table before the booking׳s arrival or cancellation date. |
| DistributionChannel | Categorical | Booking distribution channel. The term “TA” means “Travel Agents” and “TO” means “Tour Operators” | BO, BL and DC |
| IsCanceled | Categorical | Value indicating if the booking was canceled (1) or not (0) | BO |
| IsRepeatedGuest | Categorical | Value indicating if the booking name was from a repeated guest (1) or not (0) | BO, BL and C/ Variable created by verifying if a profile was associated with the booking customer. If so, and if the customer profile creation date was prior to the creation date for the booking on the PMS database it was assumed the booking was from a repeated guest |
| LeadTime | Integer | Number of days that elapsed between the entering date of the booking into the PMS and the arrival date | BO and BL/ Subtraction of the entering date from the arrival date |
| MarketSegment | Categorical | Market segment designation. In categories, the term “TA” means “Travel Agents” and “TO” means “Tour Operators” | BO, BL and MS |
| Meal | Categorical | Type of meal booked. | Categories are presented in standard hospitality meal packages: <br> Undefined/SC – no meal package; <br> BB – Bed & Breakfast; <br> HB – Half board (breakfast and one other meal – usually dinner); <br> FB – Full board (breakfast, lunch and dinner) | BO, BL and ML |
| PreviousBookingsNotCanceled | Integer | Number of previous bookings not cancelled by the customer prior to the current booking | BO and BL / In case there was no customer profile associated with the booking, the value is set to 0. Otherwise, the value is the number of bookings with the same customer profile created before the current booking and not canceled. |
| PreviousCancellations | Integer | Number of previous bookings that were cancelled by the customer prior to the current booking | BO and BL/ In case there was no customer profile associated with the booking, the value is set to 0. Otherwise, the value is the number of bookings with the same customer profile created before the current booking and canceled. |
| RequiredCardParkingSpaces | Integer | Number of car parking spaces required by the customer | BO and BL |
| ReservationStatus | Categorical | Reservation last status, assuming one of three categories: <br> Canceled – booking was canceled by the customer; <br> Check-Out – customer has checked in but already departed; <br> No-Show – customer did not check-in and did inform the hotel of the reason why | BO |
| ReservationStatusDate | Date | Date at which the last status was set. This variable can be used in conjunction with the ReservationStatus to understand when was the booking canceled or when did the customer checked-out of the hotel | BO |
| ReservedRoomType | Categorical | Code of room type reserved. Code is presented instead of designation for anonymity reasons | BO and BL |
| StaysInWeekendNights | Integer | Number of weekend nights (Saturday or Sunday) the guest stayed or booked to stay at the hotel | BO and BL/ Calculated by counting the number of weekend nights from the total number of nights |
| StaysInWeekNights | Integer | Number of week nights (Monday to Friday) the guest stayed or booked to stay at the hotel | BO and BL/Calculated by counting the number of week nights from the total number of nights |
| TotalOfSpecialRequests | Integer | Number of special requests made by the customer (e.g. twin bed or high floor) | BO and BL/Sum of all special requests |
<br>


## Verify Data Quality

&emsp; Upon initial inspection of the 31 attributes 4 appear to have some missing data. However 3 additional attributes also appear to have missing data but instead of appearing as 'nan' they are labeled as 'Undefined'. Below is a list of all the attributes with missing values and the counts:

<ul>
<li>agent- 16340 </li>
<li>company- 112593</li>
<li>children- 4</li>
<li>country- 488</li>
<li>market_segment - 2</li> 
<li>meal - 1169</li>
<li>distribution_channel - 5 </li>
</ul>


&emsp; There's an association between the distribution channel type and the agent and company attributes. If the distribution channel is from a Traveling Agent or Tour Operator, then the agency company is supplied in the agent column. Similarly if the distribution channel is Corporate, then the company associated with the booking is populated under the company attribute. If the distribution is neither Corporate, TA or TO than both the agent and company attributes will be null. To simplify our data exploration we have decided to remove the agent and company attributes as they don't provide any additional information beyond what already is provided in the distribution channel. For the meal attribute during our data investigation we have found out that 'Undefined' and 'SC' are synonymous so we have decided to replace 'Undefined' with 'SC'. For the remainder they appear to have been ommitted accidentally and we have to decided to populate the missing values with the mode. 


Additionally, the following attributes were classified as objects, however they're categorical in nature so we have decided to encode each of these attributes with a corresponding number according to their alphabetical order:

<ul>
<li>hotel - ['City Hotel', 'Resort Hotel']</li>
<li>market_segment - ['Aviation', 'Complementary', 'Corporate', 'Direct', 'Groups',
       'Offline TA/TO', 'Online TA']</li>
<li>meal - ['BB', 'FB', 'HB', 'SC']</li>
<li>reservation_status - ['Canceled', 'Check-Out', 'No-Show']</li>
<li>distribution_channel - ['Corporate', 'Direct', 'GDS', 'TA/TO']</li>
<li>reserved_room_type - ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'L', 'P']</li>
<li>assigned_room_type - ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'K', 'L', 'P']</li>
<li>deposit_type - ['No Deposit', 'Non Refund', 'Refundable']</li>
<li>country - [['ABW','AGO','AIA','ALB','AND', 'ARE', 'ARG', 'ARM',
 'ASM', 'ATA', 'ATF', 'AUS', 'AUT', 'AZE', 'BDI', 'BEL', 'BEN', 'BFA',
 'BGD', 'BGR', 'BHR', 'BHS', 'BIH', 'BLR', 'BOL', 'BRA', 'BRB', 'BWA',
 'CAF', 'CHE', 'CHL', 'CHN', 'CIV', 'CMR', 'CN', 'COL', 'COM', 'CPV',
 'CRI', 'CUB', 'CYM', 'CYP', 'CZE', 'DEU', 'DJI', 'DMA', 'DNK', 'DOM',
 'DZA', 'ECU', 'EGY', 'ESP', 'EST', 'ETH', 'FIN', 'FJI', 'FRA', 'FRO',
 'GAB', 'GBR', 'GEO', 'GGY', 'GHA', 'GIB', 'GLP', 'GNB', 'GRC', 'GTM', 'GUY',
 'HKG', 'HND', 'HRV', 'HUN', 'IDN', 'IMN', 'IND', 'IRL', 'IRN', 'IRQ', 'ISL',
 'ISR', 'ITA', 'JAM', 'JEY', 'JOR', 'JPN', 'KAZ', 'KEN', 'KHM', 'KIR',
 'KNA', 'KOR', 'KWT', 'LAO', 'LBN', 'LBY', 'LCA', 'LIE', 'LKA', 'LTU', 'LUX',
 'LVA', 'MAC', 'MAR', 'MCO' 'MDG', 'MDV', 'MEX', 'MKD', 'MLI', 'MLT', 'MMR',
 'MNE', 'MOZ', 'MRT', 'MUS', 'MWI', 'MYS', 'MYT', 'NAM', 'NCL', 'NGA', 'NIC',
 'NLD', 'NOR', 'NPL', 'NZL', 'OMN', 'PAK', 'PAN', 'PER', 'PHL', 'PLW', 'POL',
 'PRI', 'PRT', 'PRY', 'PYF', 'QAT', 'ROU', 'RUS', 'RWA', 'SAU', 'SDN', 'SEN',
 'SGP', 'SLE', 'SLV', 'SMR', 'SRB', 'STP', 'SUR', 'SVK', 'SVN', 'SWE', 'SYC',
 'SYR', 'TGO', 'THA', 'TJK', 'TMP', 'TUN', 'TUR', 'TWN', 'TZA', 'UGA', 'UKR', 'UMI',
 'URY', 'USA', 'UZB', 'VEN', 'VGB', 'VNM', 'ZAF', 'ZMB', 'ZWE']]</li>
<li>customer_type - ['Contract', 'Group', 'Transient', 'Transient-Party']</li>
</ul>    


Lastly, for the arrival_date_month we decided to encode according to their correspoding month number in the gregorian calendar and construct two new columns that correspond to the generated timestamp from the concatenated arrival date and the reservation_status_date to help out with regression later on.

In [3]:
import pandas as pd
import numpy as np

hotel_bookings = pd.read_csv('hotel_bookings.csv') # read in the csv file

hotel_bookings.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [144]:
hotel_bookings.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [126]:
hotel_bookings.hotel.unique()

array(['Resort Hotel', 'City Hotel'], dtype=object)

In [127]:
hotel_bookings.market_segment.unique()

array(['Direct', 'Corporate', 'Online TA', 'Offline TA/TO',
       'Complementary', 'Groups', 'Undefined', 'Aviation'], dtype=object)

In [128]:
hotel_bookings.meal.unique()

array(['BB', 'FB', 'HB', 'SC', 'Undefined'], dtype=object)

In [129]:
hotel_bookings.reservation_status.unique()

array(['Check-Out', 'Canceled', 'No-Show'], dtype=object)

In [131]:
hotel_bookings.distribution_channel.unique()

array(['Direct', 'Corporate', 'TA/TO', 'Undefined', 'GDS'], dtype=object)

In [132]:
hotel_bookings.reserved_room_type.unique()

array(['C', 'A', 'D', 'E', 'G', 'F', 'H', 'L', 'P', 'B'], dtype=object)

In [133]:
hotel_bookings.assigned_room_type.unique()

array(['C', 'A', 'D', 'E', 'G', 'F', 'I', 'B', 'H', 'P', 'L', 'K'],
      dtype=object)

In [134]:
hotel_bookings.deposit_type.unique()

array(['No Deposit', 'Refundable', 'Non Refund'], dtype=object)

In [159]:
hotel_bookings.country.unique()

array(['PRT', 'GBR', 'USA', 'ESP', 'IRL', 'FRA', 'ROU', 'NOR', 'OMN',
       'ARG', 'POL', 'DEU', 'BEL', 'CHE', 'CN', 'GRC', 'ITA', 'NLD',
       'DNK', 'RUS', 'SWE', 'AUS', 'EST', 'CZE', 'BRA', 'FIN', 'MOZ',
       'BWA', 'LUX', 'SVN', 'ALB', 'IND', 'CHN', 'MEX', 'MAR', 'UKR',
       'SMR', 'LVA', 'PRI', 'SRB', 'CHL', 'AUT', 'BLR', 'LTU', 'TUR',
       'ZAF', 'AGO', 'ISR', 'CYM', 'ZMB', 'CPV', 'ZWE', 'DZA', 'KOR',
       'CRI', 'HUN', 'ARE', 'TUN', 'JAM', 'HRV', 'HKG', 'IRN', 'GEO',
       'AND', 'GIB', 'URY', 'JEY', 'CAF', 'CYP', 'COL', 'GGY', 'KWT',
       'NGA', 'MDV', 'VEN', 'SVK', 'FJI', 'KAZ', 'PAK', 'IDN', 'LBN',
       'PHL', 'SEN', 'SYC', 'AZE', 'BHR', 'NZL', 'THA', 'DOM', 'MKD',
       'MYS', 'ARM', 'JPN', 'LKA', 'CUB', 'CMR', 'BIH', 'MUS', 'COM',
       'SUR', 'UGA', 'BGR', 'CIV', 'JOR', 'SYR', 'SGP', 'BDI', 'SAU',
       'VNM', 'PLW', 'QAT', 'EGY', 'PER', 'MLT', 'MWI', 'ECU', 'MDG',
       'ISL', 'UZB', 'NPL', 'BHS', 'MAC', 'TGO', 'TWN', 'DJI', 'STP',
       'KNA', 'ETH', 'IRQ', 'HND', 'RWA', 'KHM', 'MCO', 'BGD', 'IMN',
       'TJK', 'NIC', 'BEN', 'VGB', 'TZA', 'GAB', 'GHA', 'TMP', 'GLP',
       'KEN', 'LIE', 'GNB', 'MNE', 'UMI', 'MYT', 'FRO', 'MMR', 'PAN',
       'BFA', 'LBY', 'MLI', 'NAM', 'BOL', 'PRY', 'BRB', 'ABW', 'AIA',
       'SLV', 'DMA', 'PYF', 'GUY', 'LCA', 'ATA', 'GTM', 'ASM', 'MRT',
       'NCL', 'KIR', 'SDN', 'ATF', 'SLE', 'LAO'], dtype=object)

In [136]:
hotel_bookings.customer_type.unique()

array(['Transient', 'Contract', 'Transient-Party', 'Group'], dtype=object)

In [168]:
hotel_bookings.loc[hotel_bookings['market_segment'] == 'Undefined']['market_segment'].count()

2

In [169]:
hotel_bookings.loc[hotel_bookings['meal'] == 'Undefined']['meal'].count()

1169

In [170]:
hotel_bookings.loc[hotel_bookings['distribution_channel'] == 'Undefined']['distribution_channel'].count()

5

In [171]:
hotel_bookings[['children','country','market_segment','meal','distribution_channel']].mode()

   children country market_segment meal distribution_channel
0       0.0     PRT      Online TA   BB                TA/TO

In [4]:
import math
import numpy as np
hotel_bookings_transform = hotel_bookings
hotel_bookings_transform['children']= hotel_bookings_transform['children'].apply(lambda x: 0 if  math.isnan(x)  else x)
hotel_bookings_transform['country']= hotel_bookings_transform['country'].apply(lambda x: 'PRT' if  pd.isna(x)  else x)
hotel_bookings_transform['market_segment']= hotel_bookings_transform['market_segment'].apply(lambda x: 'Online TA' if  x == 'Undefined'  else x)
hotel_bookings_transform['meal']= hotel_bookings_transform['meal'].apply(lambda x: 'SC' if  x == 'Undefined'  else x)
hotel_bookings_transform['distribution_channel']= hotel_bookings_transform['distribution_channel'].apply(lambda x: 'TA/TO' if  x == 'Undefined'  else x)

In [37]:
hotel_bookings['country'].astype('category').cat.categories

Index(['ABW', 'AGO', 'AIA', 'ALB', 'AND', 'ARE', 'ARG', 'ARM', 'ASM', 'ATA',
       ...
       'UMI', 'URY', 'USA', 'UZB', 'VEN', 'VGB', 'VNM', 'ZAF', 'ZMB', 'ZWE'],
      dtype='object', length=177)

In [184]:
hotel_bookings['hotel'].astype('category').cat.categories

Index(['City Hotel', 'Resort Hotel'], dtype='object')

In [185]:
hotel_bookings['market_segment'].astype('category').cat.categories

Index(['Aviation', 'Complementary', 'Corporate', 'Direct', 'Groups',
       'Offline TA/TO', 'Online TA'],
      dtype='object')

In [186]:
hotel_bookings['meal'].astype('category').cat.categories

Index(['BB', 'FB', 'HB', 'SC'], dtype='object')

In [187]:
hotel_bookings['reservation_status'].astype('category').cat.categories

Index(['Canceled', 'Check-Out', 'No-Show'], dtype='object')

In [188]:
hotel_bookings['distribution_channel'].astype('category').cat.categories

Index(['Corporate', 'Direct', 'GDS', 'TA/TO'], dtype='object')

In [189]:
hotel_bookings['reserved_room_type'].astype('category').cat.categories

Index(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'L', 'P'], dtype='object')

In [190]:
hotel_bookings['assigned_room_type'].astype('category').cat.categories

Index(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'K', 'L', 'P'], dtype='object')

In [191]:
hotel_bookings['deposit_type'].astype('category').cat.categories

Index(['No Deposit', 'Non Refund', 'Refundable'], dtype='object')

In [193]:
hotel_bookings['customer_type'].astype('category').cat.categories

Index(['Contract', 'Group', 'Transient', 'Transient-Party'], dtype='object')

In [5]:
hotel_bookings_transform['hotel']=hotel_bookings_transform['hotel'].astype('category').cat.codes
hotel_bookings_transform['market_segment']=hotel_bookings_transform['market_segment'].astype('category').cat.codes
hotel_bookings_transform['meal']=hotel_bookings_transform['meal'].astype('category').cat.codes
hotel_bookings_transform['reservation_status']=hotel_bookings_transform['reservation_status'].astype('category').cat.codes
hotel_bookings_transform['distribution_channel']=hotel_bookings_transform['distribution_channel'].astype('category').cat.codes
hotel_bookings_transform['reserved_room_type']=hotel_bookings_transform['reserved_room_type'].astype('category').cat.codes
hotel_bookings_transform['assigned_room_type']=hotel_bookings_transform['assigned_room_type'].astype('category').cat.codes
hotel_bookings_transform['deposit_type']=hotel_bookings_transform['deposit_type'].astype('category').cat.codes
hotel_bookings_transform['customer_type']=hotel_bookings_transform['customer_type'].astype('category').cat.codes

In [6]:
hotel_bookings_transform= hotel_bookings_transform.drop(columns=['agent','company'])

In [7]:
hotel_bookings_transform

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,1,0,342,2015,July,27,1,0,0,2,...,2,3,0,0,2,0.00,0,0,1,2015-07-01
1,1,0,737,2015,July,27,1,0,0,2,...,2,4,0,0,2,0.00,0,0,1,2015-07-01
2,1,0,7,2015,July,27,1,0,1,1,...,2,0,0,0,2,75.00,0,0,1,2015-07-02
3,1,0,13,2015,July,27,1,0,1,1,...,0,0,0,0,2,75.00,0,0,1,2015-07-02
4,1,0,14,2015,July,27,1,0,2,2,...,0,0,0,0,2,98.00,0,1,1,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,0,0,23,2017,August,35,30,2,5,2,...,0,0,0,0,2,96.14,0,0,1,2017-09-06
119386,0,0,102,2017,August,35,31,2,5,3,...,4,0,0,0,2,225.43,0,2,1,2017-09-07
119387,0,0,34,2017,August,35,31,2,5,2,...,3,0,0,0,2,157.71,0,4,1,2017-09-07
119388,0,0,109,2017,August,35,31,2,5,2,...,0,0,0,0,2,104.40,0,0,1,2017-09-07
119389,0,0,205,2017,August,35,29,2,7,2,...,0,0,0,0,2,151.20,0,2,1,2017-09-07

In [8]:
assign_month = {"arrival_date_month": {"January": 1, "February": 2, "March": 3, "April": 4,"May": 5,"June": 6,"July": 7,"August": 8,"September": 9,"October": 10,"November": 11,"December": 12}}
#assign_cust = {"customer_type": {"Transient": 1, "Contract": 2, "Transient-Party": 3, "Group": 4 }}
hotel_bookings_transform = hotel_bookings_transform.replace(assign_month)
hotel_bookings_transform.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,1,0,342,2015,7,27,1,0,0,2,...,2,3,0,0,2,0.0,0,0,1,2015-07-01
1,1,0,737,2015,7,27,1,0,0,2,...,2,4,0,0,2,0.0,0,0,1,2015-07-01
2,1,0,7,2015,7,27,1,0,1,1,...,2,0,0,0,2,75.0,0,0,1,2015-07-02
3,1,0,13,2015,7,27,1,0,1,1,...,0,0,0,0,2,75.0,0,0,1,2015-07-02
4,1,0,14,2015,7,27,1,0,2,2,...,0,0,0,0,2,98.0,0,1,1,2015-07-03

In [9]:
#TODO: modify this code with hotel_bookings
hotel_bookings_transform=hotel_bookings_transform.assign(booking_date = hotel_bookings_transform["arrival_date_year"].astype(str) + '-' + 
hotel_bookings_transform["arrival_date_month"].astype(str) + '-' +hotel_bookings_transform["arrival_date_day_of_month"].astype(str))
hotel_bookings_transform['booking_date']=pd.to_datetime(hotel_bookings_transform.booking_date)
hotel_bookings_transform['booking_date']

0        2015-07-01
1        2015-07-01
2        2015-07-01
3        2015-07-01
4        2015-07-01
            ...
119385   2017-08-30
119386   2017-08-31
119387   2017-08-31
119388   2017-08-31
119389   2017-08-29
Name: booking_date, Length: 119390, dtype: datetime64[ns]

0    0.0
dtype: float64

In [10]:
hotel_bookings_transform.isnull().sum()

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
reservation_status_date           0
booking_date                      0
dtype: int64

In [11]:
hotel_bookings.mode()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,0,0,0,2016,August,33,17,0,2,2,...,0,9.0,40.0,0,2,62.0,0,0,1,2015-10-21

In [12]:
hotel_bookings.loc[:,"agent"].mode()

0    9.0
dtype: float64

In [13]:
hotel_bookings.loc[:,"company"].mode()

0    40.0
dtype: float64

In [15]:
hotel_bookings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  int8
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119390 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  int8
 13  country                         119390 non-null  object
 14  market_segment                  119390 non-null  int8
 15  distribution_channel            119390 non-null  int8
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  int8
 20  assigned_room_type              119390 non-null  int8
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  int8
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  int8
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  int8
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), int8(9), object(3)
memory usage: 22.0+ MB

## Simple Stastics

&emsp; To evaluate the simple statistics we split the categorical and non categorical data. For the categorical data we explored the overall number of observations per category to find out the distribution. For the non-categorical data we explored the simple (Mean, STD, Min, Max, Percentile) by a simple describe. We used the result of this data in future visualizations. Lastly we wanted to see the total number of outliers for each of the non-categorical attributes, we decided to classify anything that was more than 3 standard deviations as an outlier below you'll see the result.

- Categorical Values:
    - hotel
    - market_segment
    - meal
    - reservation_status
    - distribution_channel
    - reserved_room_type
    - assigned_room_type
    - deposit_type
    - country 
    - customer_type

- Non-categorical:
    - lead_time                       
    - arrival_date_year               
    - arrival_date_month              
    - arrival_date_week_number        
    - stays_in_weekend_nights         
    - stays_in_week_nights            
    - adults                          
    - children                        
    - babies                          
    - previous_cancellations          
    - previous_bookings_not_canceled  
    - booking_changes                 
    - days_in_waiting_list            
    - adr                             
    - required_car_parking_spaces     
    - total_of_special_requests       
    - reservation_status_date         
    - booking_date

In [16]:
hotel_bookings_transform_non_categorical = hotel_bookings_transform.drop(columns=['hotel','market_segment','meal','reservation_status','distribution_channel','reserved_room_type','assigned_room_type','deposit_type','country','customer_type','is_canceled','is_repeated_guest','arrival_date_day_of_month'])

hotel_bookings_transform_non_categorical.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 18 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   lead_time                       119390 non-null  int64
 1   arrival_date_year               119390 non-null  int64
 2   arrival_date_month              119390 non-null  int64
 3   arrival_date_week_number        119390 non-null  int64
 4   stays_in_weekend_nights         119390 non-null  int64
 5   stays_in_week_nights            119390 non-null  int64
 6   adults                          119390 non-null  int64
 7   children                        119390 non-null  float64
 8   babies                          119390 non-null  int64
 9   previous_cancellations          119390 non-null  int64
 10  previous_bookings_not_canceled  119390 non-null  int64
 11  booking_changes                 119390 non-null  int64
 12  days_in_waiting_list            119390 non-null  int64
 13  adr                             119390 non-null  float64
 14  required_car_parking_spaces     119390 non-null  int64
 15  total_of_special_requests       119390 non-null  int64
 16  reservation_status_date         119390 non-null  object
 17  booking_date                    119390 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(14), object(1)
memory usage: 16.4+ MB

In [17]:
hotel_bookings_transform_categorical = hotel_bookings_transform[['hotel','market_segment','meal','reservation_status','distribution_channel','reserved_room_type','assigned_room_type','deposit_type','country','customer_type','is_canceled','is_repeated_guest']]
hotel_bookings_transform_categorical.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 12 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   hotel                 119390 non-null  int8
 1   market_segment        119390 non-null  int8
 2   meal                  119390 non-null  int8
 3   reservation_status    119390 non-null  int8
 4   distribution_channel  119390 non-null  int8
 5   reserved_room_type    119390 non-null  int8
 6   assigned_room_type    119390 non-null  int8
 7   deposit_type          119390 non-null  int8
 8   country               119390 non-null  object
 9   customer_type         119390 non-null  int8
 10  is_canceled           119390 non-null  int64
 11  is_repeated_guest     119390 non-null  int64
dtypes: int64(2), int8(9), object(1)
memory usage: 3.8+ MB

In [246]:
hotel_bookings_transform_non_categorical.describe()

,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,previous_cancellations,previous_bookings_not_canceled,booking_changes,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
count,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000
mean,104.011416,2016.156554,6.552483,27.165173,0.927599,2.500302,1.856403,0.103886,0.007949,0.087118,0.137097,0.221124,2.321149,101.831122,0.062518,0.571363
std,106.863097,0.707476,3.090619,13.605138,0.998613,1.908286,0.579261,0.398555,0.097436,0.844336,1.497437,0.652306,17.594721,50.535790,0.245291,0.792798
min,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-6.380000,0.000000,0.000000
25%,18.000000,2016.000000,4.000000,16.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,69.290000,0.000000,0.000000
50%,69.000000,2016.000000,7.000000,28.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,94.575000,0.000000,0.000000
75%,160.000000,2017.000000,9.000000,38.000000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,126.000000,0.000000,1.000000
max,737.000000,2017.000000,12.000000,53.000000,19.000000,50.000000,55.000000,10.000000,10.000000,26.000000,72.000000,21.000000,391.000000,5400.000000,8.000000,5.000000

In [252]:
#Percentage by hotel
hotel_bookings_transform_categorical['hotel'].value_counts()/hotel_bookings_transform_categorical['hotel'].count()

0    0.664461
1    0.335539
Name: hotel, dtype: float64

In [253]:
#Percentage by hotel
hotel_bookings_transform_categorical['market_segment'].value_counts()/hotel_bookings_transform_categorical['market_segment'].count()

6    0.473063
5    0.202856
4    0.165935
3    0.105587
2    0.044350
1    0.006223
0    0.001985
Name: market_segment, dtype: float64

In [255]:
#Percentage by meal
hotel_bookings_transform_categorical['meal'].value_counts()/hotel_bookings_transform_categorical['meal'].count()

0    0.773180
2    0.121141
3    0.098995
1    0.006684
Name: meal, dtype: float64

In [256]:
#Percentage by reservation status
hotel_bookings_transform_categorical['reservation_status'].value_counts()/hotel_bookings_transform_categorical['reservation_status'].count()

1    0.629584
0    0.360307
2    0.010110
Name: reservation_status, dtype: float64

In [257]:
#Percentage by reservation status
hotel_bookings_transform_categorical['distribution_channel'].value_counts()/hotel_bookings_transform_categorical['distribution_channel'].count()

3    0.819792
1    0.122665
0    0.055926
2    0.001617
Name: distribution_channel, dtype: float64

In [258]:
#Percentage by reservation roomtype
hotel_bookings_transform_categorical['reserved_room_type'].value_counts()/hotel_bookings_transform_categorical['reserved_room_type'].count()

0    0.720278
3    0.160826
4    0.054737
5    0.024265
6    0.017539
1    0.009364
2    0.007806
7    0.005034
9    0.000101
8    0.000050
Name: reserved_room_type, dtype: float64

In [19]:
#Percentage by assigned_room_type
hotel_bookings_transform_categorical['assigned_room_type'].value_counts()/hotel_bookings_transform_categorical['assigned_room_type'].count()

0     0.620261
3     0.212095
4     0.065382
5     0.031418
6     0.021384
2     0.019893
1     0.018117
7     0.005964
8     0.003040
9     0.002337
11    0.000101
10    0.000008
Name: assigned_room_type, dtype: float64

In [20]:
#Percentage by deposit_type
hotel_bookings_transform_categorical['deposit_type'].value_counts()/hotel_bookings_transform_categorical['deposit_type'].count()

0    0.876464
1    0.122179
2    0.001357
Name: deposit_type, dtype: float64

In [21]:
#Percentange by country
hotel_bookings_transform_categorical['country'].value_counts()/hotel_bookings_transform_categorical['country'].count()

PRT    0.411073
GBR    0.101591
FRA    0.087235
ESP    0.071765
DEU    0.061035
         ...
MDG    0.000008
DMA    0.000008
SMR    0.000008
ASM    0.000008
AIA    0.000008
Name: country, Length: 177, dtype: float64

In [22]:
#Percentage by customer_type
hotel_bookings_transform_categorical['customer_type'].value_counts()/hotel_bookings_transform_categorical['customer_type'].count()

2    0.750591
3    0.210436
0    0.034140
1    0.004833
Name: customer_type, dtype: float64

In [28]:
from scipy import stats
#outlier adr
adr = hotel_bookings_transform[(np.abs(stats.zscore(hotel_bookings_transform[['adr']])) > 3).all(axis=1)]['adr']
adr.describe()

count    1138.000000
mean      290.785571
std       154.793763
min       253.490000
25%       263.000000
50%       276.600000
75%       300.000000
max      5400.000000
Name: adr, dtype: float64

In [29]:
#outliers lead_time
hotel_bookings_transform[(np.abs(stats.zscore(hotel_bookings_transform[['lead_time']])) > 3).all(axis=1)]['lead_time'].describe()

count    1454.000000
mean      492.008253
std        57.785111
min       426.000000
25%       451.000000
50%       468.000000
75%       521.000000
max       737.000000
Name: lead_time, dtype: float64

In [30]:
#outliers adults
hotel_bookings_transform[(np.abs(stats.zscore(hotel_bookings_transform[['adults']])) > 3).all(axis=1)]['adults'].describe()

count    481.000000
mean       1.336798
std        5.220440
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max       55.000000
Name: adults, dtype: float64

In [31]:
#outliers previous cancelation
hotel_bookings_transform[(np.abs(stats.zscore(hotel_bookings_transform[['previous_cancellations']])) > 3).all(axis=1)]['previous_cancellations'].describe()

count    317.000000
mean      12.990536
std        9.072313
min        3.000000
25%        4.000000
50%       11.000000
75%       24.000000
max       26.000000
Name: previous_cancellations, dtype: float64

In [32]:
#outliers booking_changes
hotel_bookings_transform[(np.abs(stats.zscore(hotel_bookings_transform[['booking_changes']])) > 3).all(axis=1)]['booking_changes'].describe()

count    1570.000000
mean        3.878344
std         1.803220
min         3.000000
25%         3.000000
50%         3.000000
75%         4.000000
max        21.000000
Name: booking_changes, dtype: float64

In [34]:
#outliers days_in_waiting_list
hotel_bookings_transform[(np.abs(stats.zscore(hotel_bookings_transform[['days_in_waiting_list']])) > 3).all(axis=1)]['days_in_waiting_list'].describe()

count    1871.000000
mean      116.130412
std        73.437587
min        56.000000
25%        65.000000
50%        91.000000
75%       147.000000
max       391.000000
Name: days_in_waiting_list, dtype: float64

In [35]:
#outliers total of special requests
hotel_bookings_transform[(np.abs(stats.zscore(hotel_bookings_transform[['total_of_special_requests']])) > 3).all(axis=1)]['total_of_special_requests'].describe()

count    2877.000000
mean        3.145985
std         0.390555
min         3.000000
25%         3.000000
50%         3.000000
75%         3.000000
max         5.000000
Name: total_of_special_requests, dtype: float64

In [38]:
#outliers required car parking spaces
hotel_bookings_transform[(np.abs(stats.zscore(hotel_bookings_transform[['required_car_parking_spaces']])) > 3).all(axis=1)]['required_car_parking_spaces'].describe()

count    7416.000000
mean        1.006472
std         0.136268
min         1.000000
25%         1.000000
50%         1.000000
75%         1.000000
max         8.000000
Name: required_car_parking_spaces, dtype: float64

In [5]:
## import statsmodels.api as sm

hotel_bookings['hotel'] = hotel_bookings['hotel'].astype('category')
hotel_bookings['arrival_date_month'] = hotel_bookings['arrival_date_month'].astype('category')

Xtrain = hotel_bookings[['lead_time','arrival_date_year','arrival_date_month','arrival_date_week_number','stays_in_weekend_nights','stays_in_week_nights']]

Ytrain = hotel_bookings[['is_canceled']]

#hotel, arrival_date_month change to category
#replace nans of children


# <class 'pandas.core.frame.DataFrame'>
# RangeIndex: 119390 entries, 0 to 119389
# Data columns (total 32 columns):
#  #   Column                          Non-Null Count   Dtype  
# ---  ------                          --------------   -----  
#  0   hotel                           119390 non-null  object 
#  1   is_canceled                     119390 non-null  int64  
#  2   lead_time                       119390 non-null  int64  
#  3   arrival_date_year               119390 non-null  int64  
#  4   arrival_date_month              119390 non-null  object 
#  5   arrival_date_week_number        119390 non-null  int64  
#  6   arrival_date_day_of_month       119390 non-null  int64  
#  7   stays_in_weekend_nights         119390 non-null  int64  
#  8   stays_in_week_nights            119390 non-null  int64  
#  9   adults                          119390 non-null  int64  
#  10  children                        119386 non-null  float64
#  11  babies                          119390 non-null  int64  
#  12  meal                            119390 non-null  object 
#  13  country                         118902 non-null  object 
#  14  market_segment                  119390 non-null  object 
#  15  distribution_channel            119390 non-null  object 
#  16  is_repeated_guest               119390 non-null  int64  
#  17  previous_cancellations          119390 non-null  int64  
#  18  previous_bookings_not_canceled  119390 non-null  int64  
#  19  reserved_room_type              119390 non-null  object 
#  20  assigned_room_type              119390 non-null  object 
#  21  booking_changes                 119390 non-null  int64  
#  22  deposit_type                    119390 non-null  object 
#  23  agent                           103050 non-null  float64
#  24  company                         6797 non-null    float64
#  25  days_in_waiting_list            119390 non-null  int64  
#  26  customer_type                   119390 non-null  object 
#  27  adr                             119390 non-null  float64
#  28  required_car_parking_spaces     119390 non-null  int64  
#  29  total_of_special_requests       119390 non-null  int64  
#  30  reservation_status              119390 non-null  object 
#  31  reservation_status_date         119390 non-null  object 
# dtypes: float64(4), int64(16), object(12)
# memory usage: 29.1+ MB

#hotel encode
#arrival_date_month
#customer type encoded
#reservation_status encoded
#reservation_status_date 

#replace agent with binary value
#replace company with binary value



log_reg = sm.Logit(hotel_bookings['is_canceled'], sm.add_constant(hotel_bookings[['arrival_date_year']+['lead_time']
                                                                                 +['arrival_date_week_number']
                                                                                 +['stays_in_weekend_nights']
                                                                                 +['arrival_date_day_of_month']
                                                                                 +['stays_in_week_nights']
                                                                                 +['adults']+['babies']
                                                                                 +['is_repeated_guest']
                                                                                 +['previous_cancellations']
                                                                                 +['previous_bookings_not_canceled']
                                                                                 +['booking_changes']
                                                                                +['days_in_waiting_list']
                                                                                 +['adr']
                                                                                 +['required_car_parking_spaces']
                                                                                 +['total_of_special_requests']
                                                                                ])).fit()

log_reg.summary2()
#hotel_bookings.info()


#log_reg.aic

/opt/anaconda3/lib/python3.8/site-packages/statsmodels/discrete/discrete_model.py:1799: RuntimeWarning: overflow encountered in exp
  return 1/(1+np.exp(-X))

Optimization terminated successfully.
         Current function value: 0.520979
         Iterations 16

<class 'statsmodels.iolib.summary2.Summary'>
"""
                                                                                         Results: Logit
================================================================================================================================================================================================
Model:                                                        Logit                                                      Pseudo R-squared:                                           0.210
Dependent Variable:                                           is_canceled                                                AIC:                                                        124433.3344
Date:                                                         2021-01-22 19:15                                           BIC:                                                        124598.0670
No. Observations:                                             119390                                                     Log-Likelihood:                                             -62200.
Df Model:                                                     16                                                         LL-Null:                                                    -78699.
Df Residuals:                                                 119373                                                     LLR p-value:                                                0.0000
Converged:                                                    1.0000                                                     Scale:                                                      1.0000
No. Iterations:                                               16.0000
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
                                 Coef.                     Std.Err.                      z     P>|z|                      [0.025                                       0.975]
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
const                          -453.5339                                      26.2910 -17.2505 0.0000                                     -505.0634                                    -402.0045
arrival_date_year                 0.2243                                       0.0130  17.2028 0.0000                                        0.1987                                       0.2498
lead_time                         0.0047                                       0.0001  63.2464 0.0000                                        0.0045                                       0.0048
arrival_date_week_number         -0.0022                                       0.0007  -3.3023 0.0010                                       -0.0035                                      -0.0009
stays_in_weekend_nights          -0.0180                                       0.0079  -2.2696 0.0232                                       -0.0335                                      -0.0025
arrival_date_day_of_month        -0.0009                                       0.0008  -1.1236 0.2612                                       -0.0024                                       0.0007
stays_in_week_nights              0.0117                                       0.0042   2.7742 0.0055                                        0.0034                                       0.0199
adults                            0.1046                                       0.0146   7.1810 0.0000                                        0.0761                                       0.1332
babies                            0.1525                                       0.0817   1.8656 0.0621                                       -0.0077                                       0.3127
is_repeated_guest                -1.1605                                       0.0837 -13.8609 0.0000                                       -1.3246                                      -0.9964
previous_cancellations            3.1272                                       0.0568  55.0231 0.0000                                        3.0158                                       3.2386
previous_bookings_not_canceled   -0.5969                                       0.0260 -22.9785 0.0000                                       -0.6478                                      -0.5460
booking_changes                  -0.6717                                       0.0159 -42.1633 0.0000                                       -0.7029                                      -0.6405
days_in_waiting_list             -0.0010                                       0.0004  -2.6478 0.0081                                       -0.0017                                      -0.0003
adr                               0.0063                                       0.0002  37.8953 0.0000                                        0.0060                                       0.0066
required_car_parking_spaces    -210.9663 451932750534812606649310829194982195200.0000  -0.0000 1.0000 -885771914482357624053482413659567161344.0000 885771914482357624053482413659567161344.0000
total_of_special_requests        -0.7319                                       0.0105 -69.9847 0.0000                                       -0.7524                                      -0.7114
================================================================================================================================================================================================

"""

In [4]:
log_reg = sm.Logit(hotel_bookings['is_canceled'], sm.add_constant(hotel_bookings[['arrival_date_year']+['lead_time']
                                                                                 +['arrival_date_week_number']
                                                                                 +['stays_in_weekend_nights']
                                                                                 +['arrival_date_day_of_month']
                                                                                 +['stays_in_week_nights']
                                                                                 +['adults']+['babies']
                                                                                 +['is_repeated_guest']
                                                                                 +['previous_cancellations']
                                                                                 +['previous_bookings_not_canceled']
                                                                                 +['booking_changes']
                                                                                +['days_in_waiting_list']
                                                                                 +['adr']
#                                                                                  +['required_car_parking_spaces']
                                                                                 +['total_of_special_requests']
                                                                                ])).fit()
log_reg.aic
log_reg.summary2()

Optimization terminated successfully.
         Current function value: 0.541658
         Iterations 17

<class 'statsmodels.iolib.summary2.Summary'>
"""
                                   Results: Logit
=====================================================================================
Model:                     Logit                  Pseudo R-squared:       0.178
Dependent Variable:        is_canceled            AIC:                    129369.0865
Date:                      2021-01-22 18:51       BIC:                    129524.1289
No. Observations:          119390                 Log-Likelihood:         -64669.
Df Model:                  15                     LL-Null:                -78699.
Df Residuals:              119374                 LLR p-value:            0.0000
Converged:                 1.0000                 Scale:                  1.0000
No. Iterations:            17.0000
-------------------------------------------------------------------------------------
                                 Coef.   Std.Err.    z     P>|z|    [0.025    0.975]
-------------------------------------------------------------------------------------
const                          -504.6635  25.8052 -19.5567 0.0000 -555.2407 -454.0863
arrival_date_year                 0.2497   0.0128  19.5091 0.0000    0.2246    0.2747
lead_time                         0.0049   0.0001  67.2802 0.0000    0.0048    0.0050
arrival_date_week_number         -0.0016   0.0007  -2.5336 0.0113   -0.0029   -0.0004
stays_in_weekend_nights          -0.0146   0.0078  -1.8715 0.0613   -0.0299    0.0007
arrival_date_day_of_month        -0.0012   0.0008  -1.5157 0.1296   -0.0027    0.0003
stays_in_week_nights              0.0123   0.0041   2.9767 0.0029    0.0042    0.0205
adults                            0.0823   0.0141   5.8377 0.0000    0.0547    0.1099
babies                            0.0725   0.0827   0.8774 0.3803   -0.0895    0.2346
is_repeated_guest                -1.2084   0.0810 -14.9253 0.0000   -1.3671   -1.0497
previous_cancellations            3.1168   0.0550  56.7192 0.0000    3.0091    3.2245
previous_bookings_not_canceled   -0.6210   0.0260 -23.8947 0.0000   -0.6719   -0.5701
booking_changes                  -0.7095   0.0158 -44.9028 0.0000   -0.7404   -0.6785
days_in_waiting_list             -0.0007   0.0004  -1.8608 0.0628   -0.0014    0.0000
adr                               0.0054   0.0002  34.3242 0.0000    0.0051    0.0058
total_of_special_requests        -0.7412   0.0103 -71.7837 0.0000   -0.7615   -0.7210
=====================================================================================

"""

In [101]:

hotel_bookings['hotel'] = hotel_bookings['hotel'].astype('category')
#hotel_bookings['arrival_date_month'] = hotel_bookings['arrival_date_month'].astype('category')

hotel_bookings['hotel']  = hotel_bookings['hotel'].cat.codes

In [78]:
#hotel_bookings['arrival_date_month'].cat.categories
hotel_bookings['agent']

0           NaN
1           NaN
2           NaN
3         304.0
4         240.0
          ...
119385    394.0
119386      9.0
119387      9.0
119388     89.0
119389      9.0
Name: agent, Length: 119390, dtype: float64

In [82]:
import math
hotel_bookings['agent']
x = math.nan
if math.isnan(x) :
    print("true")
else :
    print("false")

hotel_bookings['agent']= hotel_bookings['agent'].apply(lambda x: False if math.isnan(x) else True)

true

In [83]:
hotel_bookings['agent']

0         False
1         False
2         False
3          True
4          True
          ...
119385     True
119386     True
119387     True
119388     True
119389     True
Name: agent, Length: 119390, dtype: bool

In [85]:
hotel_bookings['company']= hotel_bookings['company'].apply(lambda x: False if math.isnan(x) else True)

In [86]:
hotel_bookings['company']

0         False
1         False
2         False
3         False
4         False
          ...
119385    False
119386    False
119387    False
119388    False
119389    False
Name: company, Length: 119390, dtype: bool

In [90]:

hotel_bookings['agent'] = hotel_bookings['agent'].astype('category').cat.codes
hotel_bookings['agent']

0         0
1         0
2         0
3         1
4         1
         ..
119385    1
119386    1
119387    1
119388    1
119389    1
Name: agent, Length: 119390, dtype: int8

In [91]:
hotel_bookings['company'] = hotel_bookings['company'].astype('category').cat.codes
hotel_bookings['company']

0         0
1         0
2         0
3         0
4         0
         ..
119385    0
119386    0
119387    0
119388    0
119389    0
Name: company, Length: 119390, dtype: int8

In [93]:
hotel_bookings['market_segment']= hotel_bookings['market_segment'].astype('category').cat.codes

In [94]:
hotel_bookings['market_segment']

0         3
1         3
2         3
3         2
4         6
         ..
119385    5
119386    6
119387    6
119388    6
119389    6
Name: market_segment, Length: 119390, dtype: int8

In [96]:
hotel_bookings['meal']= hotel_bookings['meal'].astype('category').cat.codes
hotel_bookings['meal']

0         0
1         0
2         0
3         0
4         0
         ..
119385    0
119386    0
119387    0
119388    0
119389    2
Name: meal, Length: 119390, dtype: int8

In [100]:
hotel_bookings['hotel']

0         Resort Hotel
1         Resort Hotel
2         Resort Hotel
3         Resort Hotel
4         Resort Hotel
              ...
119385      City Hotel
119386      City Hotel
119387      City Hotel
119388      City Hotel
119389      City Hotel
Name: hotel, Length: 119390, dtype: object

In [106]:

log_reg = sm.Logit(hotel_bookings['is_canceled'], sm.add_constant(hotel_bookings[['hotel']
                                                                                 +['arrival_date_year']
                                                                                 +['lead_time']
                                                                                 +['agent']
                                                                                 +['company']
                                                                                 +['market_segment']
                                                                                 +['meal']
                                                                                 +['arrival_date_week_number']
                                                                                 +['stays_in_weekend_nights']
                                                                                 +['arrival_date_day_of_month']
                                                                                 +['stays_in_week_nights']
                                                                                 +['adults']+['babies']
                                                                                 +['is_repeated_guest']
                                                                                 +['previous_cancellations']
                                                                                 +['previous_bookings_not_canceled']
                                                                                 +['booking_changes']
                                                                                +['days_in_waiting_list']
                                                                                 +['adr']
                                                                                 +['required_car_parking_spaces']
                                                                                 +['total_of_special_requests']
                                                                                ])).fit()

log_reg.summary2()
#hotel_bookings.info()

/opt/anaconda3/lib/python3.8/site-packages/statsmodels/discrete/discrete_model.py:1799: RuntimeWarning: overflow encountered in exp
  return 1/(1+np.exp(-X))

Optimization terminated successfully.
         Current function value: 0.515341
         Iterations 21

<class 'statsmodels.iolib.summary2.Summary'>
"""
                                                                                      Results: Logit
==========================================================================================================================================================================================
Model:                                                      Logit                                                    Pseudo R-squared:                                         0.218
Dependent Variable:                                         is_canceled                                              AIC:                                                      123097.1409
Date:                                                       2021-01-22 20:32                                         BIC:                                                      123310.3242
No. Observations:                                           119390                                                   Log-Likelihood:                                           -61527.
Df Model:                                                   21                                                       LL-Null:                                                  -78699.
Df Residuals:                                               119368                                                   LLR p-value:                                              0.0000
Converged:                                                  1.0000                                                   Scale:                                                    1.0000
No. Iterations:                                             21.0000
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
                                 Coef.                    Std.Err.                     z     P>|z|                     [0.025                                     0.975]
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
const                          -405.9815                                    26.7050 -15.2025 0.0000                                   -458.3222                                  -353.6407
hotel                            -0.1933                                     0.0163 -11.8443 0.0000                                     -0.2253                                    -0.1613
arrival_date_year                 0.2004                                     0.0132  15.1329 0.0000                                      0.1745                                     0.2264
lead_time                         0.0048                                     0.0001  63.4705 0.0000                                      0.0046                                     0.0049
agent                            -0.3244                                     0.0306 -10.6000 0.0000                                     -0.3844                                    -0.2644
company                          -0.3930                                     0.0461  -8.5222 0.0000                                     -0.4834                                    -0.3026
market_segment                    0.2311                                     0.0081  28.4364 0.0000                                      0.2151                                     0.2470
meal                             -0.0718                                     0.0064 -11.2117 0.0000                                     -0.0843                                    -0.0592
arrival_date_week_number         -0.0025                                     0.0007  -3.6849 0.0002                                     -0.0038                                    -0.0011
stays_in_weekend_nights          -0.0184                                     0.0080  -2.2946 0.0218                                     -0.0341                                    -0.0027
arrival_date_day_of_month        -0.0005                                     0.0008  -0.6522 0.5142                                     -0.0021                                     0.0010
stays_in_week_nights              0.0191                                     0.0043   4.4173 0.0000                                      0.0106                                     0.0276
adults                            0.0524                                     0.0135   3.8724 0.0001                                      0.0259                                     0.0789
babies                            0.2517                                     0.0834   3.0176 0.0025                                      0.0882                                     0.4152
is_repeated_guest                -0.9790                                     0.0850 -11.5196 0.0000                                     -1.1455                                    -0.8124
previous_cancellations            3.1453                                     0.0569  55.2348 0.0000                                      3.0337                                     3.2569
previous_bookings_not_canceled   -0.5346                                     0.0255 -20.9384 0.0000                                     -0.5846                                    -0.4845
booking_changes                  -0.6241                                     0.0159 -39.2538 0.0000                                     -0.6552                                    -0.5929
days_in_waiting_list             -0.0009                                     0.0004  -2.3257 0.0200                                     -0.0016                                    -0.0001
adr                               0.0054                                     0.0002  31.9829 0.0000                                      0.0051                                     0.0057
required_car_parking_spaces    -202.4297 4836091553234858735957675809741733888.0000  -0.0000 1.0000 -9478565270278692757729177829858344960.0000 9478565270278692757729177829858344960.0000
total_of_special_requests        -0.8208                                     0.0110 -74.5100 0.0000                                     -0.8424                                    -0.7992
==========================================================================================================================================================================================

"""

SyntaxError: invalid syntax (<ipython-input-109-edae5be6c5f3>, line 1)